node_modules
dist
out
build
apps/desktop/dist
apps/desktop/web-dist
*.AppImage
*.exe
*.dmg
.webpack
.expo
.expo-shared
.DS_Store
*.log
logs
pnpm-lock.yaml
*.cache
coverage
.vercel
.turbo
.idea
*.iml

