node_modules
dist
dist-electron
out
build
web-dist
apps/desktop/web-dist
*.AppImage
*.exe
*.dmg
.webpack
.expo
.expo-shared
.DS_Store
*.log
pnpm-lock.yaml
*.cache
coverage
.vercel
.turbo
.idea
*.iml

